/* Estilos generales */
body {
  font-family: 'Verdana', sans-serif;
      background-color: #000; /* Color de respaldo */
      background-image: url('https://4.bp.blogspot.com/-xR-DGneqwsA/Whms7C9c7iI/AAAAAAAHuvQ/py_2UmqmSek9A8mpoHXPHhdVWegXZreSwCLcBGAs/s1600/9798f70719c8bdd1ed1def090dd52a4c.gif'); /* URL del GIF */
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 0;
      margin: 0;
}

.x img {
  margin-top: 6.5%;
  margin-left: 10px;
  width: 93.5%;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; 
}

@media (max-width: 767px) {
  .x img {
    margin-top: 17%;
    margin-left: 5px;
    width: 100%;
    margin-bottom: 10px;
   
  }
}

header {
  background-color: #d68f8f;
  color: #201a1a;
  border-radius: 10px;
  background-color: #8ae7a675;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}


.xunn {
  margin-left: 2%;
  border-radius: 10px;
  background-color: #b7e9c959;
  border: 2px solid black;
  padding: 10px;
  width: 96%;
  margin-top: 10%;
}

.xunn h2 {
  font-family: Arial, sans-serif;
  font-size: 2em;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid;
  width: 0;
  animation: typing 6s steps(30, end) 2s infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 40%;
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}
@media (min-width: 767px) {
  .xunn h1 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-left: 40%;
    border-right: 0.1em solid;
    width: 0;
    animation: typing 6s steps(30, end) 2s infinite, blink 0.75s step-end infinite;
  }
}

.xunn1 {
  position:relative;
  margin-left: 2%;
  top:-30%;
  margin-top: 30%;
  border-radius: 10px;
  background-color: #b7e9c96b;
  border: 2px solid black;
  padding: 10px;
  width: 96%;
  margin-top: -15%;
}

.xunn1 h1 {
  font-family: Arial, sans-serif;
  font-size: 2em;
  position: relative;
  margin-left: 40%;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid;
  width: 0;
  animation: typing 15s steps(40, end) 2s infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 70%;
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}
@media (min-width: 767px) {
  
  
  .xunn1 h1 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1em solid;
    width: 0;
    animation: typing 6s steps(30, end) 2s infinite, blink 0.75s step-end infinite;
  }
}




.xun {
  margin-left: 2%;
  border-radius: 10px;
  background-color: #fbfcfb00;
  border: 2px solid black;
  padding: 10px;
  width: 96%;
}

.xun2 {
  margin-left: 2%;
  border-radius: 10px;
  padding: 10px;
  width: 96%;

}


.xun3 h2 {
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: black;
}
.xun3 {
  margin-top: 10px;
  margin-left: 8px;
  border-radius: 10px;
  padding: 10px;
  width: 98.8%;
  margin-top:0.8%;
  background: linear-gradient(to bottom, #8eb0b1a6 20%, #7d8882ce 50%);
  animation: gradient 5s ease infinite;
}
 .xun3 img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 30%;
  flex: 0 0 auto;
}

@media (max-width: 767px) {
  .xun3 {
    margin-left: 8px;
    width: 96%;
  }
}

.xun4 {
  margin-left: 2%;
  border-radius: 10px;
  background: linear-gradient(to bottom, #49a06346 10%, #7ea89263 50%);
  border: 2px solid black;
  padding: 10px;
  width: 96%;
  margin-top:7.3%;
  animation: gradient 5s ease infinite;
}



@media (max-width: 767px) {
  .xun4 {
    margin-left: 2%;
    border-radius: 10px;
    background: linear-gradient(to bottom, #49a06380 10%, #7ea89263 50%);
    border: 2px solid black;
    padding: 10px;
    width: 96%;
    margin-top: -21.4px;
    animation: gradient 5s ease infinite;
  }
}
@media (min-width: 767px) {
  .xun2 img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30%;
    flex: 0 0 auto;
  }
  
}


h1 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

* {
  margin: 100;
  padding: 100;
}

i {
  margin-right: 20px;
}




.navbar-logo {
  padding: 0px;
  color: #8b0707fd;


}

.navbar-mainbg {
  background: linear-gradient(45deg, #798b9b 20%, #e1e7e4 50%);
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}


#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;

}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: #8b0707fd;
  text-decoration: none;
  font-size: 12px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent>ul>li.active>a {
  background-color: #6f7671;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.7s;
}
#navbarSupportedContent>ul>li:hover {
  top: 0;
  left: 0;
  background-color: hsla(135, 18%, 62%, 0.568);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

 

#navbarSupportedContent .active>a:not(:only-child):after {
  transform: rotate(180deg);
}


.hori-selector {
  display: inline-block;
  position: absolute;
  height: 900%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: hsla(137, 6%, 53%, 0.795);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;

  bottom: 10px;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}

.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

/* Estilos responsivos */
@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }

  .hori-selector {
    margin-top: 0px;
    margin-left: 20px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: auto;
  }

  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }

  .hori-selector .left {
    top: -25px;
    left: auto;
  }

  .hori-selector .right {
    bottom: -25px;
  }

  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }

  .hori-selector .right:before {
    bottom: -50px;
    left: -50px;
  }
}


.mobile-view {
  display: block;
}

footer {
  background-color: #81e68e;
  color: #fff;
  text-align: center;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
}



#container {
  padding: 0px;
}

.left {
  left: -280px;
}

.show {
  left: 0;
}

#showmenu {
  margin-left: 100%;
  position: absolute;
  top: 8px;
  padding: 5px 10px 5px 10px;
  font-size: 1.8 em;
  color: #111111;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.slider {
  display: flex;
  overflow-x: auto;
  width: 100%;
  padding: 0px;
  margin: -10px;
}

.slider article {
  flex: 0 0 auto;
  padding: 20px;
  margin: 0 px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(58, 16, 156, 0.2);
  width: 300px;
}
article:hover {
  cursor: pointer;
  background: rgba(136, 141, 136, 0.596);
  border:rgba(0, 0, 0, 0.7) solid 1px;
}
.slider img {
  width: 80%;
  margin-left: -5px;
  margin-top: 10px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
  flex: 0 0 auto;
  transition: transform 0.3s ease-in-out;
}

.slider img:hover {
  transform: scale(1.1);
}

.slider article img:hover::after {
  content: "hacer click para Mas información";
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1;
}

.slider img h1 {
  position : relative;
  margin-top: 30px;
  margin-left: 0px;
  font-size: 15px;
  color: black;
}
.slider article:hover::after p {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 80px;

}

.anuncio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 50px;
  box-sizing: border-box;
  animation: expand 1s ease-in-out;
}

@keyframes expand {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.anuncio.hide {
  animation: hide 10s linear forwards;
}

.anuncio a {
  position: relative;
}

.anuncio-img {
  cursor: pointer;
  max-width: 300px;
  max-height: 80%;
  display: block;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

.close-btn {
  position: absolute;
  top: 120px;
  right: 10%;
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* Estilos para vista móvil */
@media (max-width: 767px) {
  .anuncio-img {
    cursor: pointer;
    max-width: 300px;
    max-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .close-btn {
    position: relative;
    top: 50%;
    margin-left: 90%;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
}

/* Estilos para vista de escritorio */
@media (min-width: 768px) and (max-width: 1024px) {
  .anuncio {
    padding: 100px;
    text-align: center;
  }

  .anuncio-img {
    width: 80%;
    height: 80%;
  }

  .close-btn {
    font-size: 24px;
  }
}

/* Estilos para tabletas */
@media (min-width: 992px) and (max-width: 1199px) {
  .anuncio {
    padding: 40px;
  }

  .close-btn {
    top: 140px;
    right: 12%;
  }
}